/* Custom CSS*/
@import url('https://fonts.googleapis.com/css?family=Average');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600');

html,
body,
.container {
  width: 100%;
  height: auto;
}

/* Reset */
html,
body,
div {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
}

/* Basic */
.h1--hero {
  font-size: 3rem;
  color: black;
  background-color: white;
  padding: 1em;
  font-weight: 800;
  text-align: center;
  align-items: flex-start;
}

section {
  display: block;
  margin-top: 7%;
  margin-left: 5%;
  padding: 3rem;
  z-index: -1;
}

.img--responsive {
  position: relative;
  width: 100%;
  max-width: 750px;
  height: auto;
}

.img__card,
.text__card {
  width: 750px;
  z-index: -1;
}

.body__background {
  background-image: url('images/background-photo.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: palegoldenrod;
}

a,
a:active {
  color: lightpink;
  text-decoration: none;
}

p {
  margin: 1rem 0 1rem 0;
  font-family: 'Source Sans Pro';
}

blockquote {
  display: block;
  max-width: 480px;
  margin: 15px auto;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.3);
  color: #e1e1e1;
  font-family: "Oswald", sans-serif;
  font-size: 22px;
  line-height: 28px;
}

.svg {
  width: 30px;
  height: 30px;
  display: inline-block;
  fill: white
}

/* Layout */
#menu {
  width: 100%;
  font-family: 'Source Sans Pro', Arial, sans-serif;
  margin: 0;
  top: 0;
  position: fixed;
}

.menu__top {
  width: 100%;
  display: flex;
  background: black;
  justify-content: space-between;
}

.menu__img__icon {
  width: 50px;
  justify-content: flex-end;
}

.menu__logo {
  font-family: "Average", Georgia, 'Times New Roman', Times, serif;
  font-style: bold;
  margin: auto 0;
  padding: 0.825rem;
  justify-self: center;
  text-align: center;
  color: white;
  z-index: 9999;
  background-color: black;
}

.menu__navbar {
  display: none;
  font-family: 'Source Sans Pro', sans-serif;
  height: 40px;
  padding: 0 1rem 0 1rem;
  z-index: 9998;
  margin: 0;
  justify-content: center;
  align-content: center;
  list-style-type: none;
  background-color: beige;
}

.menu__navbar a:hover {
  font-weight: 500;
}

.menu__navbar a:focus {
  outline: solid yellow 2px;
  animation: ease-in-out 1s;
}

.menu__navbar a,
li,
a {
  text-decoration: none;
  border: none;
  line-height: auto;
  padding: 0.3rem 0.5rem;
  text-decoration: none;
  align-content: flex-start;
  z-index: 9997;
}

.main__heading {
  justify-content: center;
  align-items: center;
  position: relative;
  font-family: "Average", sans-serif;
  align-items: center;
  justify-content: center;
  align-content: center;
}

article {
  position: relative;
  width: inherit;
  display: block;
}

article a {
  text-decoration: none;
  color: blue;
}

article a:hover {
  text-decoration: underline;
  color: white;
}

.text__card {
  color: black;
  background: antiquewhite;
  justify-content: center;
  font-size: 1.2em;
  line-height: 1.7em;
  margin-top: 0;
  padding: 1.5rem;
  border-radius: 4px;
}

.text {
  width: 100%;
  padding: 1.5rem;
  justify-content: center;
  position: relative;
  z-index: -2;
}

/* Special */
.subtitle {
  margin: auto;
  font-size: 1.5em;
  vertical-align: middle;
  padding: 1rem;
}

.button {
  margin-top: 2em;
  font-size: 1.25em;
  padding: 0.825rem 1.2rem;
  color: white;
  border: pink solid 2px;
  text-transform: uppercase;
}

/* For mobile devices */
@media only screen and (max-width: 768px) {
  .body__background {
    background-image: url('images/background-photo-mobile-devices.jpg');
  }

  .img__card,
  .text__card {
    width: 750px;
  }
}

/* Media Queries */
/* medium screens */
@media screen and (min-width: 597px) {
  .img--responsive {
    width: 90%;
  }

  span .icon {
    display: none;
    position: absolute;
    overflow: hidden;
    font-size: 1rem;
  }

  .inner li {
    display: inline-block;
    padding: 14px 17px;
    list-style-type: none;
  }

  .inner .navbar li a {
    color: inherit;
    font-size: medium;
    text-align: left;
    vertical-align: middle;
  }

}


@media only screen and (max-width: 596px) {

  section,
  article,
  .text__wrapper,
  .text,
  .text__card,
  .img--responsive {
    width: inherit;
  }

  .menu__img__icon {
    display: inline-block;
    text-align: right;
    background-color: #ddd;
    padding: 0.7em;
  }

  .inner .menu__navbar li a {
    display: none;
  }

  .responsive,
  .menu__navbar {
    margin: 0;
    padding: 1.5em 2em;
    list-style-type: none;
    flex-flow: column nowrap;
    justify-items: flex-start;
    background-color: beige;
    background-size: 100%;
    z-index: inherit;
  }

  .text__wrapper {
    flex-basis: column nowrap;
    width: inherit;
    margin-left: 1.2rem;
    margin-right: 1.2rem;
    line-height: 1.75rem;
    padding: 1.2rem;
    margin: auto 0;
  }

  .text {
    line-height: 1.3em;
    text-align: left;
    justify-content: center;
  }

  .content,
  blockquote {
    display: inline;
    margin: 0 auto;
  }

  .button {
    max-width: 150px;
    font-size: 15px;
    line-height: 20px;
  }
}