<section class="text__wrapper">
    <article class='text'>
        <h2>About</h2>
        <p>
            Caramelize combine defrost dip dredge flour glaze golden brown. Binder boil chunk crush dress drizzle fry
            grind partially set peel reduce roll up jelly-roll fashion set snip sprinkle.
        </p>
        <h2>What Is It?</h2>

        <p>Once again, the best way to understand a piece of code is... well, to write it. Let's roll our own
            lightweight angel cake.</p>

        <h2>Instant Coffee</h2>
        <p>What do you think of the new cake layout?</p>

        <ul>
            <li>0 questions in this recipe </li>
            <li>Be the first to ask your artichokes!</li>
            <li>You will be able to add frosting in the next step.</li>
        </ul>

    </article>
</section>