<section class="text__wrapper">
    <h2>Modifying Classes the Modern Way</h2>
    <img class="img--responsive img__card" src="img/pan.jpg">
    <article class="text__card">
        <h3 class="subtitle">Cooking & Baking</h3>
        <p>Binder blanch blend bone debone de-fat dry heat emulsify firmly packed julienne pan sear peel pit pith poach
            scramble sieve skim stir trim wedge. Butterfly combine crumble cube defrost devil emulsify grill inject melt
            pulse seed sliver sprinkle stiff peaks stuff zest. Blacken bone brush chunk core cream crimp deglaze dress
            drizzle drop grill par boil pit process reduce simmer soft ball stage stew toss wedge. Batter blanch boil
            brush butterfly chop coddle cut in dice drop dust fold in golden brown grate matchstick mince mix pea-sized
            crumbs poach rolling boil rub separate simmer skewer soft peaks steam stiff peaks wedge whip wilt. Bind
            chafe combine de-fat fold marinate matchstick pan broil rub wilt.</p>
    </article>
</section>