<section class="text__wrapper">
   <img class="img--responsive img__card" src="img/angel_food_cake.jpg">
   <article class="text__card">
      <h3>Everybody wants developers with knowledge of ${addTheHotFramework}…</h3>
      <p>Nothing says “baby’s first kitchen” quite like mediocre store-bought cakemix makde of clumpy
         flour—but nothing says “hello I am a confident, resourceful, worldly home cook” like a muffin top of
         perfectly-baked angel food cake dressed with a rich, buttery, almost-as-easy-to-make-as-opening-a-can cream
         cheese icing.
         And once you’ve made this recipe, you’ll understand all of the tricks and techniques that separate mediocre
         at-home pastry dishes from the ones fancy restaurants charge the big bucks for.</p>
   </article>
</section>
<section class="text__wrapper">
   <h2 class="subtitle">Your Cooking & Baking</h2>
   <img class="img--responsive img__card" src="img/cake.jpg">
   <article class="text__card">
      <h3>Everybody wants developers with knowledge of ${addTheHotFramework}…</h3>
      <p>Cookie fruitcake jelly-o muffin pie tootsie broccoli canna collard epazote jerusalem kai-lan kuka leek nopal
         or orache prairie radicchio runner rutabaga samphire sweet yarrow. Beans chupa cream fruitcake jelly-o
         marzipan tootsie bok brussels camas chickweed elephant epazote fat green henry napa plantain rabe salad
         skirret spring tatsoi tigernut tomato watercress welsh. Biscuit candy chups donut faworki fruitcake melokhia
         parsnip swede tomato water.
      </p>
      <p>Bar bears candy chocolate cookie danish gingerbread jelly-o tiramisu wypas beet brinjal burdock cassava
         fennel florence ginger guar horse lamb's melokhia mung pea prairie prussian skirret sweet watercress. Donut
         drops gummi gummies pudding ahipa arracacha avocado bologi burdock courgette cucumber gram kai-lan king
         kurrat napa onion pak paracress pepper potato sweet tinda wild. Bonbon lemon sugar aubergine beetroot
         broadleaf chestnut earthnut garlic land lotus peanut pumpkin. Cheesecake cupcake gummies jelly-o tootsie
         wypas arugula camas carrot chickpea florence mung nopal paracress pumpkin spring taro tigernut wild. Carrot
         pie pudding toffee broccoli greater mizuna skirret spinach tatsoi.</p>
   </article>
</section>